@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body, #root{
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
  background-color: #F5F5F5;
}

.Main-Content{
  padding: 5em 5em 2em 2em;
  margin-right: 2em;
  background-color: #F5F5F5;
}

.Main-Cards{
  padding-top: 3em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
}

.Main-Content a{
  text-decoration: none;
}

.Main-Content h1{
  font-size: 7vh;
  margin-bottom: 0;
}

.Main-Content h2{
  font-size: 3vh;
  margin-top: 0;
}

.Main-Cards p{
  margin-bottom: 0;
}

.Main-Cards a{
  transition-duration: 300ms;
}

.Main-Cards a:hover{
  transform: scale(1.05,1.05);
}

.image {
  max-height: 400px;
  max-width: 300px;
}

@media only screen and (max-width: 1300px){
  .App {
    grid-template-columns: 100%;
  }
  .Main-Content {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 600px){
  .Main-Cards {
    grid-template-columns: 100% !important;
  }
  .Main-Content {
    padding-right: 2em; 
  }
}