@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body, #root{
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
  background-color: #F5F5F5;
}

.Main-Content{
  padding: 5em 5em 2em 2em;
  margin-right: 2em;
}

.Main-Cards{
  padding-top: 3em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
}

.Main-Content a{
  text-decoration: none;
}

.Main-Content h1{
  font-size: 7vh;
  margin-bottom: 0;
}

.Main-Content h2{
  font-size: 3vh;
  margin-top: 0;
}

.Main-Cards p{
  margin-bottom: 0;
}

.image {
  max-height: 400px;
  max-width: 300px;
}