.SideBar{
  background-image: linear-gradient(90deg, rgba(10, 10, 10, 0.6), rgb(245, 245, 245)), url(./assets/background-image.jpg);
  background-position: center;
  background-size: cover !important;
  color: white;
  font-size: 3vh;
  padding: 10em 2em 10em 3em;
}

.SideBar p{
  margin: 0
}

.SideBar a{
  color: white;
  text-decoration: none;
}

.SideBar a:hover{
  color: #275e89;
}

.SideBar span{
  display: flex;
  font-size: 2vh;
  align-items: center;
}

.SideBar svg{
  min-width: 20px;
  padding-right: 10px;
}

@media only screen and (max-width: 1300px){
  .SideBar {
    background-image: linear-gradient(180deg, rgba(10, 10, 10, 0.6), rgb(245, 245, 245, 1)), url(./assets/background-image.jpg);
    max-height: 150px;
    padding-top: 20px;
    padding-left: 1em;
  }
}